[include]
	path = ~/.gitconfig.local
[core]
	editor = vim -c \"set fenc=utf-8\"
	pager = less -R -F -X
[alias]
	fprune = fetch --prune
	undo = reset --soft HEAD^
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
	ci = commit
	br = branch
	co = checkout
	sm = submodule
	fl = flow
	fli = flow init
	flf = flow feature
[merge]
	ff = false
[push]
	default = simple
[pull]
	ff = only
[url "git@bitbucket.org:"]
	InsteadOf = https://bitbucket.org/
	InsteadOf = https://ytoda129@bitbucket.org/
[url "git@github.com:"]
	InsteadOf = https://github.com/
	InsteadOf = https://ytoda129@github.com/
[url "git@gitlab.com:"]
	InsteadOf = https://gitlab.com/
